.container{
    width: 80%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.logo{
    margin-bottom: 4em;
}

.question{
    border: 1px solid black;
    border-radius: 1em;
}

.answers{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    gap: 1rem;
    /*grid-template-columns: repeat(2, 1fr);*/
    /*justify-content: space-around;*/
}

.answer{
    border: 1px solid black;
    border-radius: 1em;
    list-style: none;
    padding: 0.5rem;
}

.answer:hover{
    border: 1px solid gold;
}

@media (min-width: 400px) {
    .container{
        margin-top: 10em;
        max-width: 700px;
    }
    .answers {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}